<div ng-include="'views/header.html'"></div>
<div class="content-wrapper" >
	<div class="container">
		<section class="content-header">
			<h1>
				Documentation
			</h1>
			<ol class="breadcrumb">
				<li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
				<li class="active">Documentation</li>
			</ol>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-body">
							<h2>Full Documentation <small>Version 0.0.4</small></h2>
							<hr>
							<ol>
								<li><a href="#/plataforms">Supported Platforms</a></li>
              					<li><a href="#/prerequisites">Prerequisite Technologies</a></li>
              					<li><a href="#/instalation">Installation</a></li>
              					<li><a href="#/init">App Init</a>
              						<ul>
              							<li><a href="#/init#database">Database</a></li>
              							<li><a href="#/init#cipher">Cipher, use encrypted database</a></li>
              							<li><a href="#/init#algorithm">Algorithm for encrypted database</a></li>
              							<li><a href="#/init#password">Password for encrypted database</a></li>
              							<li><a href="#/init#title">Application Title</a></li>
              							<li><a href="#/init#description">Description</a></li>
              							<li><a href="#/init#url">Git Url</a></li>
              						</ul>
              					</li>
              					<li>
              						<a href="#/database">Database handle</a>
              						<ul>
              							<li><a href="#/database#statements">Statements</a></li>
              							<li><a href="#/database#tables">Create tables</a>
              								<ul>
              									<li><a href="#/database#columns">Informing columns</a></li>
              									<li><a href="#/database#pk">Informing primary key</a></li>
              									<li><a href="#/database#incremental">Informing auto incremental columns</a></li>
              									<li><a href="#/database#references">Informing References (foreign keys)</a></li>
              								</ul>
              							</li>
              						</ul>
              					</li>
              					<li>
              						<a href="#/crud">CRUD maker</a>
              						<ul>
              							<li>
              								<a href="#/crud#basic-options">Basic Options</a>
              								<ul>
              									<li><a href="#/crud#name">CRUD name</a></li>
              									<li><a href="#/crud#table">Table</a></li>
              									<li><a href="#/crud#controller">Controller</a></li>
              									<li><a href="#/crud#view">View</a></li>
                                                                             <li><a href="#/crud#route">Route</a></li>
                                                                             <li><a href="#/crud#menu">Menu</a></li>
              								</ul>
              							</li>
              						</ul>
              					</li>
							</ol>
						</div><!-- /.box-body -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.content-wrapper -->
<div ng-include="'views/footer.html'"></div>