<footer class="main-footer">
	<div class="container">
		<div class="pull-right hidden-xs">
			<a  href="http://github.com/baseljs/basel" title="Git Hub">
				<div class="social-link">
					<i class="fa fa-github-alt"></i>
				</div>
			</a>
			<a  href="https://www.facebook.com/baselfwk/" title="Facebook">
				<div class="social-link bg-blue">
					<i class="fa fa-facebook"></i>
				</div>
			</a>
		</div>
		<strong>Copyright &copy; 2016 <a href="http://clubedosgeeks.com.br">Clube dos Geeks</a>.</strong> All rights reserved.
	</div><!-- /.container -->
</footer>