<div ng-include="'views/header.html'"></div>
 <div class="content-wrapper">
  <section class="content-header bg-basel">
    <div class="container">
      <h1>Framework for built app with Bootstrap, AngularJS, SQLite and Electron.</h1>
      <h3>Lorem ipsum - Framework for built app with Bootstrap, AngularJS, SQLite and Electron.</h3>
      <br>
      <br>
      <br>
      <h3>Get <strong>BASEL</strong>, start a app...</h3>
      <div class="console">
        $ sudo npm install -g basel<br/>
        $ basel-init newApp
      </div>
    </div>
  </section>
  <div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
    </section><!-- /.content -->
  </div><!-- /.container -->
</div><!-- /.content-wrapper -->
<div ng-include="'views/footer.html'"></div>