<div ng-include="'views/header.html'"></div>
<div class="content-wrapper" >
	<div class="container">
		<section class="content-header">
			<h1>
				Supported Platforms
			</h1>
			<ol class="breadcrumb">
				<li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
				<li class="active">Supported Platforms</li>
			</ol>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-body">
							<p><strong>BASEL</strong> is supported for the plataforms what Electron is suported</p>
							<h3>OSX</h3>
							<p>Only 64bit binaries are provided for OS X, and the minimum OS X version supported is OS X 10.9.</p>
							<hr>
							<h3>Windows</h3>
							<p>Windows 7 and later are supported, older operating systems are not supported (and do not work).</p>
							<p>Both x86 and amd64 (x64) binaries are provided for Windows. Please note, the ARM version of Windows is not supported for now.</p>
							<hr>
							<h3>Linux</h3>
							<p>The prebuilt ia32(i686) and x64(amd64) binaries of Electron are built on Ubuntu 12.04, the arm binary is built against ARM v7 with hard-float ABI and NEON for Debian Wheezy.</p>
							<p>Whether the prebuilt binary can run on a distribution depends on whether the distribution includes the libraries that Electron is linked to on the building platform, so only Ubuntu 12.04 is guaranteed to work, but following platforms are also verified to be able to run the prebuilt binaries of Electron:</p>
							<ul>
								<li>Ubuntu 12.04 and later</li>
								<li>Fedora 21</li>
								<li>Debian 8</li>
							</ul>
							<hr>
							<p><strong>Font: </strong><a href="http://electron.atom.io/docs/v0.37.6/tutorial/supported-platforms/">electron.atom</a></p>
							<hr>
							<h3>Other dependencies</h3>
							<p>No other <strong>BASEL</strong> dependency has prerequisites for platforms.</p>
						</div><!-- /.box-body -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.content-wrapper -->
<div ng-include="'views/footer.html'"></div>