<div ng-include="'views/header.html'"></div>
<div class="content-wrapper" >
	<div class="container">
		<section class="content-header">
			<h1>
				Prerequisite Technologies
			</h1>
			<ol class="breadcrumb">
				<li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
				<li class="active">Prerequisite Technologies</li>
			</ol>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Linux, Windows or OSX</h3>
						</div>
						<div class="box-body">
							<p>On any platform You just have to install Node.js and Git.</p>
							<ul>
								<li>
									<strong>Node.js</strong> - <a href="https://nodejs.org/en/download/" target="_blank">Download</a> and Install Node.js. You can see tutorials in <a href="http://nodeschool.io/#workshoppers" target="_blank">NodeScholl</a> or <a href="http://clubedosgeeks.com.br/category/programacao/node-js" target="_blank">Clube dos Geeks</a>
								</li>
								<li>
									<strong>Git</strong> - <a href="https://git-scm.com/downloads" target="_blank">Download</a> and Install Git
								</li>
							</ul>
						</div><!-- /.box-body -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.content-wrapper -->
<div ng-include="'views/footer.html'"></div>