<div ng-include="'views/header.html'"></div>
<div class="content-wrapper" >
	<div class="container">
		<section class="content-header">
			<h1>
				Prerequisite Technologies
				<small>Example 2.0</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
				<li class="active">Prerequisite Technologies</li>
			</ol>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-default">
						<div class="box-header with-border">
							<h3 class="box-title">Linux</h3>
						</div>
						<div class="box-body">
							The great content goes here
						</div><!-- /.box-body -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box box-default">
						<div class="box-header with-border">
							<h3 class="box-title">Windows</h3>
						</div>
						<div class="box-body">
							The great content goes here
						</div><!-- /.box-body -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box box-default">
						<div class="box-header with-border">
							<h3 class="box-title">MAC Os</h3>
						</div>
						<div class="box-body">
							The great content goes here
						</div><!-- /.box-body -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.content-wrapper -->
<div ng-include="'views/footer.html'"></div>